.git
.gitignore
.env
.env.*
!.env.example
node_modules
npm-debug.log
yarn-error.log
.editorconfig
.idea
.vscode
.DS_Store
Thumbs.db
.dockerignore
Dockerfile
docker-compose.yml
README.md
.env.*.local
**/tests/
**/.git/
**/vendor/.git/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
public/storage
